{% extends 'base.html' %}
{% block content %}
    <div class="container m-2">
        <h3 class="card p-2">REGISTRATION</h3>

        <form action="" method="post" class="m-5 p-5 card">
            {% csrf_token %}
            {{ forms.non_field_errors }}
            {% for hidden_field in forms.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}
            {% for field in forms.visible_fields %}
                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                {{ field }}
                {{ field.errors }}
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}


